.Error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0,0,0,.4);
  margin: 50px 70px 0 70px;
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 50px 30px;

  &__message {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;

    &::before {
      display: inline-block;
      content: "X";
      font-size: 30px;
      margin-right: 10px;
      color: red;
    }
  }
}