body {
  margin: 0 auto;
  min-width: 320px;
  font-family: "Helvetica Neue";
  background-color: rgba(29, 161, 242, 1);

  &.search-empty {
    transition: .5s all ease;
  }
  
  &.search-exists {
    transition: .5s all ease;
    background-color: white !important;

    .App {
      border: 1px solid rgba(0,0,0,.3);
    }
  }
}

.App {
  margin: 0 auto;
  max-width: 810px;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 1);
}