.Input {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(29, 161, 242, 1);
  height: 100vh;
  transition: .3s all ease;
  
  &__twitter-icon {
    display: block;
    background-image: url("../assets/twitter.png");
    height: 50px;
    min-width: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  input {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 300px;
    margin-left: 20px;
    padding-left: 10px;
    font-size: 18px;
    border-radius: 5px;
  }
  
  &.search-exists {
    padding: 100px 0;
    height: 100px;
    border-bottom: 1px solid rgba(0,0,0,.3);
  }
}