.User {
  display: flex;
  border: 1px solid rgba(0,0,0,.4);
  margin: 50px 70px 0 70px;
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 50px 30px;

  &__image {
    border-radius: 5px;
  }

  &__info {
    padding-left: 20px;
    font-size: 20px;
    overflow-wrap: anywhere;

    &--icon {
      margin-left: 5px;
      padding-bottom: 5px;
      width: 16px;
      height: 100%;
    }
                                      
    &--name-container {
      display: inline-flex;
      align-items: center;
      text-transform: uppercase;
      padding: 0 0 5px 0;
    }

    &--name {
      font-weight: 600;
      display: inline-flex;
      align-items: center;
      text-transform: uppercase;
      padding: 0 0 5px 0;
      letter-spacing: .07em;
    }

    &--pipe {
      font-weight: unset;
      opacity: .4;
      margin-left: 5px;
    }

    &--username {
      text-transform: lowercase;
      padding: 0 0 5px 0;
      margin-left: 5px;
    }

    &--id {
      font-weight: 400;
      padding: 0 0 10px 0;
    }

    &--button {
      outline: none;
      cursor: pointer;

      &:disabled {
        cursor: unset;
      }
    }
  }
}

.Followers {
  margin: 50px 70px 0 70px;
  border-radius: 7px;

  .User {
    padding: 20px;
    margin: 0 0 20px 0;

    &:last-of-type {
      margin: 0;
    }

    &__info {
      font-size: 16px;
    }
  }
}